
body {
	background-color: #eeeeee;
	font-family: monospace;
	color: #3e3e3e;
	visibility: hidden;
}

.mobile {
	visibility: visible;
}

.mobile-div {
	font-size: 30px;
	width: 300px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-left: -150px;
}

.mobile-img {
	position: fixed;
	width: 200px;
	height: 200px;
	top: 35%;
	left: 50%;
	margin-left: -100px;
}

