

body {
	background-color: #eeeeee;
	font-family: monospace;
	color: #3e3e3e;
}

.title {
	display: block;
	position: fixed;
	top: -5px;
	left: 10px;
	z-index: -100px;
}

.mobile {
	visibility: hidden;
}

.logo {
	position: fixed;
	z-index: 200;
	left: 10px;
	bottom: 5px;
}

.game {
	display: block;
	width: 800px;
	height: 620px;
	top: 50%;
	left: 50%;
	margin-top: -310px;
	margin-left: -400px;
	position: fixed;
}

.board {
	display: inline-block;
	border-style: double;
	border-width: 10px;
	border-color: #3e3e3e;
	font-size: 0px;
	text-align: center;
	width: 600px;
	height: 600px;
}

.square {
	display: inline-block;
	border-style: solid;
	border-width: 5px;
	border-color: #a8d4a8;
	width: 190px;
	height: 190px;
	font-size: 0px;
}

.box {
	display: inline-block;
	background-color: #ebfdeb;
	width: 53.3333333333px;
	height: 53.333333333px;
	border-style: solid;
	border-width: 5px;
	border-color: #95bf95;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 53.333333333px;
}

.buttons {
	display: inline-block;
	float: right;
	width: 160px;
	height: 600px;
}

.button {
	display: block;
	background-color: #ebfdeb;
	border-color: #3e3e3e;
	
	border-style: solid;
	border-width: 5px;
	width: 150px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.popup {
	visibility: hidden;
	display: block;
	position: fixed;
	background-color: white;
	border-color: #3e3e3e;
	border-style: solid;
	border-width: 5px;
	width: 220px;
	height: 160px;
	left: 50%;
	top: 50%;
	margin-left: -115px;
	margin-top: -85px;
	z-index: 500;
}

#pu-div {
	display: block;
	position: relative;
	width: 200px;
	height: 70px;
	left: 50%;
	top: 5px;
	margin-left: -100px;
}

#pu-p {
	display: block;
	position: relative;
	width: 200px;
	text-align: center;
	top: 25%;
	font-size: 15px;
}

.button.ok {
	width: 70px;
	position: relative;
	top: 5px;
	left: 50%;
	margin-left: -40px;
}
